
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<div class="container mt-5">
    <div class="title">
      <h3>Notifications</h3>
    </div>
</div>
<div class="alert alert-info">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">info_outline</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>

        <b>Information :</b> Le patient NOM PRENOM a bien été ajouté !
    </div>
</div>
<div class="alert alert-success">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">check</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <b> Bravo :</b> Les bacs de NOM PRENOM ont bien été nettoyés !!
    </div>
</div>
<div class="alert alert-warning">
     <div class="container">
         <div class="alert-icon">
            <i class="material-icons">warning</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
         <b>Alerte :</b> Les bacs de NOM PRENOM sont bientôt plein !!
    </div>
</div>
<div class="alert alert-danger">
     <div class="container">
         <div class="alert-icon">
            <i class="material-icons">error_outline</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
         <b>Danger :</b> Les bacs de NOM PRENOM sont pleins !
    </div>
</div>
